nodered-tweet-publisher-flow.json
[
  {
    "id": "33f4f544.736d0a",
    "type": "websocket-listener",
    "z": "9a17d0e2.3949d",
    "path": "/ws/tweets/teltec",
    "wholemsg": "true"
  },
  {
    "id": "1639c41d.478e9c",
    "type": "twitter in",
    "z": "9a17d0e2.3949d",
    "twitter": "",
    "tags": "#IBM,#Bluemix,#NodeRed",
    "user": "false",
    "name": "Live tweets",
    "topic": "tweets",
    "x": 112,
    "y": 88,
    "wires": [
      [
        "4779c278.b6e0ac",
        "39d0223e.0508de"
      ]
    ]
  },
  {
    "id": "4779c278.b6e0ac",
    "type": "debug",
    "z": "9a17d0e2.3949d",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "payload",
    "x": 469,
    "y": 90,
    "wires": []
  },
  {
    "id": "39d0223e.0508de",
    "type": "websocket out",
    "z": "9a17d0e2.3949d",
    "name": "Websocket publisher",
    "server": "33f4f544.736d0a",
    "client": "",
    "x": 500,
    "y": 231,
    "wires": []
  }
]